<div class="page container">
  <section class="list">
    <h1 style="text-align: center;color: lightgreen;">My Portfolios</h1>
  </section>
  <section class="text-center">
    <button type="button" name="button" class="btn btn-primary" id="add-btn">Add a portfolio</button>
  </section>
  <section class="list-options text-center">
    <button type="button" name="button" class="option">something</button><br>
    <button type="button" name="button" class="option">something</button><br>
    <button type="button" name="button" class="option">something</button><br>
    <button type="button" name="button" class="option">something</button><br>
    <button type="button" name="button" class="option">something</button><br>
    <button type="button" name="button" class="option">something</button><br>
    <button type="button" name="button" class="option">something</button><br>
    <button type="button" name="button" class="option">something</button><br>
  </section>
</div>
