<div class="page container">
  <section class="list">
    <h1 style="text-align: center;color: lightgreen;">My Portfolios</h1>
  </section>
  <section class="text-center">
    <a href="/users/<%= @user.id %>/portfolios/new" class="btn btn-primary" id="add-btn">Add Portfolio</a>
  </section>
  <section class="list-options text-center">
    <% @portfolios.each do |p| %>
      <%= link_to p.name, portfolio_stocks_path(p), class: "btn option" %>
    <% end %>
  </section>
</div>
