<% if @user %>

<% else %>

<div class="" id="wrapper">
  <div class="" id="first">
    <h1>news</h1>
  </div>
  <div class="" id="second">
    <div class="">
      <button type="button" name="button" class="btn btn-primary">Add Stocks</button>
      <button type="button" name="button" class="btn btn-primary">Remove Stocks</button>
    </div>
    <h1>table</h1>
  </div>
</div>

<% end %>
