/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html,body,.container {
     height:100%;
 }
  .image-setup {
    background-image: url('nick-chong-N__BnvQ_w18-unsplash.jpg');
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  }
 /* Login Form */
  .login {
    margin-top: 25px;
    height: 370px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 25%;
    /* margin: 25% auto; */
    text-align: center;
    color: lightgreen;
  }
  .login-setup {
    text-align: left;
  }

  .login-button {
    margin-top: 25px;
    margin-bottom: 20px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-size: 25px;
    color: lightgreen;
    padding: 30px;
  }

  #login-btn {
    width: 165px;
    color: black;
    background-color: lightgreen;
  }

  #login-btns {
    display: inline;
  }

  /* Portfolio index page */
div.page {
  height: 40%;
  width: 60%;
  margin-top: 12px;
}
#add-btn {
  /* margin: 3px; */
  height: auto;
  width: 50%;
  margin: 5px;
  background-color: lightgreen;
  color: black;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.list-options {
  height: 65%;
  overflow: scroll;
  margin-top: 15px;
  border-style: solid;
  border-width: 7px;
  border-color: lightgreen;
  border-radius: 30px;
}

.list-options::-webkit-scrollbar {
  display: none;
}

.option {
  margin: 10px;
  width: 80%;
  height: auto;
  border-style: solid;
  border-radius: 30px;
  background-color: lightgreen;
  border-color: black;
  font-weight: bold;
  font-size: 130%;
  color: black;
  border-width: 7px;
}

/* port info */
#page {
  height: 100%;
  width: 100%;
}

#wrapper {
    width: 90%;
    overflow: hidden; /* add this to contain floated children */
    height: 100%;
}
#first {
    float:left; /* add this */
    width: 20%;
    background-color: white;
    margin-right: 3%;
    height: 85%;
    margin-top: 2%;
    margin-left: 2%;
}
#second {
    float: left; /* add this */
    background-color: teal;
    width: 75%;
    height: 85%;
    margin-top: 2%;
}

label {
  color: lightgreen;
}

/* Buttons */

.btn-custom {
  background-color: lightgreen;
  color: black;
}

#add_button {
  margin-right: 5px;
}

.delete-portfolio {
  float: right;
}

#update {
  margin-top: 10px;
}
